<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Home</title>
</head>
<body>
    <div class="Elements">
        <h1>Try it Out!</h1>
        <p>Press the button and the respective model will run</p>
        <div style="display:flex; flex-direction:column; gap:5px">
            <form action="/submit" autocomplete="off">
                <input type="submit" value="1">
                <label>Trained X and Y seperately</label>
            </form>

            <form action="/LTSM" autocomplete="off">
                <input type="submit"  value="1">
                <label>Trained X and Y together</label>
            </form>
        </div>
        
        
    </div>
</body>
</html>